body {
    margin: 0;
    padding-top: 800px;
  text-align:center;
}

#welcome {
  position:absolute;
  overflow:hidden;
  height:800px;
  color:#000000;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background: #a8c0ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 display: table;
    width: 100%;
    height: 100%;
}
h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 40px;
    line-height: 1.2;
  font-weight: 300;
}
h2{
  font-family: 'Squada One', cursive;
}
p{
  font-size: 35px;
}
.line {
    height: 6px;
    background-color: #000;
    width: 70px;
  margin: 8px auto;}
img {
  width:300px;
}
  
 